@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic);
/*********** Mixins **************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #000000;
}
a:hover,
a:active {
  color: #808080;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.wrap {
  margin: 0 10px;
}
/* Header */
.header-main {
  background-color: #dcdcdc;
}
.header-logo {
  float: left;
}
.header-logo a {
  display: inline-block;
}
/* Slider */
.slider-content {
  min-height: 350px;
  font-size: 0;
  background-color: #ffffff;
}
.slider-content img {
  width: 100%;
}
.header-title {
  float: right;
  padding: 10px;
  font-size: 21px;
}
/* Main Navigation */
.main-nav {
  background-color: #dcdcdc;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-nav ul:hover li.active a {
  background-color: #dcdcdc;
}
.main-nav ul:hover li.active a:hover {
  color: #ffffff;
  background-color: #a9a9a9;
}
.main-nav li {
  display: inline-block;
  position: relative;
}
.main-nav li.active a {
  background-color: #a9a9a9;
}
.main-nav li.drop-menu:hover {
  background-color: #a9a9a9;
}
.main-nav li.drop-menu:hover > .submenu {
  opacity: 1;
  left: 0;
  transition: 0.5s opacity;
}
.main-nav li.drop-menu:hover::after {
  transform: scaleY(-1);
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
.main-nav li.drop-menu::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 8px;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-style: none;
}
.main-nav li > .submenu {
  position: absolute;
  width: 100%;
  left: -99999px;
  opacity: 0;
}
.main-nav li > .submenu li {
  display: block;
  width: 100%;
}
.main-nav li > .submenu a {
  display: block;
  width: auto;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #a9a9a9;
}
.main-nav li > .submenu a:hover {
  background-color: #a9a9a9;
}
.main-nav a {
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 18px;
}
.main-nav a:hover {
  color: #ffffff;
  background-color: #a9a9a9;
}
.main-nav a:active {
  color: #ffffff;
}
/* Main Content */
.main h1,
.main h2,
.main h3 {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
}
.page-title {
  background-color: #dcdcdc;
}
/* Catalog */
.catalog {
  font-size: 0;
  margin-top: 40px;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 218px;
  margin: 0 10px 20px 10px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #808080;
  background: #ffffff;
}
.catalog-item:hover {
  box-shadow: 0 3px 15px rgba(41, 52, 73, 0.4);
}
.catalog-img a {
  display: block;
  font-size: 0;
  line-height: 1;
}
.catalog-img img {
  width: 218px;
}
.catalog-content {
  padding: 10px;
}
.catalog-title {
  min-height: 50px;
}
.catalog-title h3 {
  margin: 0 0 10px 0;
}
.catalog-title h3 a {
  text-decoration: none;
}
.catalog-info span {
  display: inline-block;
  margin-right: 5px;
}
.catalog-info .year {
  color: #808080;
}
/* Footer */
.main-footer {
  background-color: #dcdcdc;
}
.main-footer p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 10px;
}
@media screen and (max-width: 979px) {
  .catalog {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 740px) {
  .catalog {
    max-width: 540px;
  }
  .catalog-item {
    width: 158px;
  }
  .catalog-title {
    min-height: 50px;
  }
  .catalog-title h3 {
    font-size: 18px;
  }
  .catalog-img img {
    width: 158px;
    height: auto;
  }
}
