@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic);
/*********** Mixins **************/
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #000000;
}
a:hover,
a:active {
  color: #808080;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.wrap {
  margin: 0 10px;
}
/* Header */
.header-main {
  background-color: #dcdcdc;
}
.header-logo {
  float: left;
}
.header-logo a {
  display: inline-block;
}
/* Slider */
.slider-content {
  min-height: 350px;
  background-color: #ffffff;
}
.header-title {
  float: right;
  padding: 10px;
  font-size: 21px;
}
/* Main Navigation */
.main-nav {
  background-color: #dcdcdc;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav ul:hover li.active a {
  background-color: transparent;
}
.main-nav ul:hover li.active a:hover {
  color: #ffffff;
  background-color: #a9a9a9;
}
.main-nav li {
  display: inline-block;
}
.main-nav li.active a {
  background-color: #a9a9a9;
}
.main-nav a {
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
.main-nav a:hover {
  color: #ffffff;
  background-color: #a9a9a9;
}
.main-nav a:active {
  color: #ffffff;
}
/* Main Content */
.main h1,
.main h2,
.main h3 {
  font-weight: 300;
  text-transform: capitalize;
}
.page-title {
  background-color: #dcdcdc;
}
.page-title h1 {
  padding-top: 5px;
  padding-bottom: 5px;
}
