@import "variables.less";


body {
  font-family: @font-base;
  font-size: @base-font-size;
  color: @text-color;
  background-color: @light-color;
}

a {
  color: @text-color;
  
  &:hover,
  &:active {
    color: @active-color;
  }
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  margin: 0 auto;
  max-width: @max-w-container;
}

.wrap {
  margin: 0 @wrap-out;
}

/* Header */
.header-main {
  background-color: @bg-color;
}

.header-logo {
  float: left;
  
  a {
    display: inline-block;
  }
}

/* Slider */
.slider-content {
  min-height: 350px;
  background-color: lighten(@brand-color, 45%);
}

.header-title {
  float: right;
  padding: 10px;
  font-size: @middle-font-size;
}

/* Main Navigation */
.main-nav {
  background-color: @bg-color;
  
  ul {
    .ul-clear();
    
    &:hover {
      li.active {
        a {
        background-color: @bg-color;
          
          &:hover {
            color: @light-color;
            background-color: @brand-color;
          }
        }

      }
    }
  }
  
  li {
    display: inline-block;
    position: relative;
    margin-left: -4px;
    
    &.active {
      a {
        background-color: @brand-color;
      }
    }
    
    &.drop-menu {
      &:hover {
        background-color: @brand-color;
        
        & > .submenu {
          opacity: 1;
          left: 4px;
          transition: 0.5s opacity;
        }
        
        &::after {
          transform: scaleY(-1);
          .triangle(bottom; 7px; @light-color);
        }
      }
      
      &::after {
        content: '';
        position: absolute;
        top: 18px;
        right: 8px;
        .triangle(bottom; 7px; @text-color);        
      }
    }
    
    & > .submenu {
      position: absolute;
      width: 100%;
      left: -99999px;
      opacity: 0;
            
      li {
        display: block;
        width: 100%;        
      }
      
      a {
        display: block;
        width: auto;
        padding: 10px 20px;
        background-color: @light-color;
        border-bottom: 1px solid @brand-color;
        
        &:hover {
          background-color: @brand-color;
        }
      }
    }
  }
  
  a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    font-size: @nav-font-size;
    
    &:hover {
      color: @light-color;
      background-color: @brand-color;
    }
    
    &:active {
      color: @light-color;
    }
  }
    
}

/* Main Content */
.main {
  h1, h2, h3 {
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;    
    font-weight: 300;
    text-transform: capitalize;
  }
}

.page-title {
  background-color: @bg-color;
}

.content {
  
}

/* Catalog */
.catalog {
  font-size: 0;
  margin-top: 40px;
  
  &-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: @sl-item_width;
    margin: 0 @wrap-out 2*@wrap-out @wrap-out;
    font-size: @base-font-size;
    line-height: @line-height-product-title;
    border: 1px solid @active-color;
    background: @light-color;
    
    &:hover {
      box-shadow: 0 3px 15px rgba(41, 52, 73, 0.4);
    }
  }
  
  &-img {    
    a {
      display: block;
      font-size: 0;
      line-height: 1;
    }
    
    img {
      width: @sl-item_width;
    }
  }
  
  &-content {
    padding: 10px;
  }
  
  &-title {
    min-height: 50px;
    
    h3 {
      margin: 0 0 10px 0;
      
      a {
        text-decoration: none;
      }
    }    
  }
  
  &-info {
    span {
      display: inline-block;
      margin-right: 5px;
    }
    
    .year {
      color: @active-color;
    }
  }
}

/* Footer */
.main-footer {
  background-color: @bg-color;
  
  p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 10px;
  }
}

@media screen and (max-width: 979px) {
  .catalog {
    max-width: 720px;
    margin: 0 auto;    
  }

}

@media screen and (max-width: 740px) {
  .catalog {
    max-width: 540px;
  
    &-item {
      width: 158px;
    }
    
    &-title {
    min-height: 50px;
    
      h3 {
        font-size: @nav-font-size;
      }
    }

    &-img {
      img {
        width: 158px;
        height: auto;
      }
    }
  }
}