@import "variables.less";


body {
  font-family: @font-base;
  font-size: @base-font-size;
  color: @text-color;
  background-color: @light-color;
}

a {
  color: @text-color;
  
  &:hover,
  &:active {
    color: @active-color;
  }
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  margin: 0 auto;
  max-width: @max-w-container;
}

.wrap {
  margin: 0 @wrap-out;
}

/* Header */
.header-main {
  background-color: @bg-color;
}

.header-logo {
  float: left;
  
  a {
    display: inline-block;
  }
}

/* Slider */
.slider-content {
  min-height: 350px;
  background-color: lighten(@brand-color, 45%);
}

.header-title {
  float: right;
  padding: 10px;
  font-size: @middle-font-size;
}

/* Main Navigation */
.main-nav {
  background-color: @bg-color;
  
  ul {
    .ul-clear();
    
    &:hover {
      li.active {
        a {
        background-color: transparent;
          
          &:hover {
            color: @light-color;
            background-color: @brand-color;
          }
        }
      }
    }
  }
  
  li {
    display: inline-block;
    
    &.active {
      a {
        background-color: @brand-color;
      }
    }
  }
  
  a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    font-size: @nav-font-size;
    
    &:hover {
      color: @light-color;
      background-color: @brand-color;
    }
    
    &:active {
      color: @light-color;
    }
  }
}

/* Main Content */
.main {
  h1, h2, h3 {
    font-weight: 300;
    text-transform: capitalize;
  }
}

.page-title {
  background-color: @bg-color;
  
  h1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.content {
  
}